*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input{
    display: block;
}
form{
    margin: 20px 70px;
}
.big
{
    font-size: 70px;
    color: yellow !important;
}
.move
{
    margin: 30px;
}