*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#grid
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: 
    'resize resize resize resize'
    'homescreen homescreen homescreen homescreen'
    'nav nav nav nav'
    'personal1 content content content'
    'footer footer footer footer';    
}
.resize
{
    
    grid-area: resize;
    background-color: #20063B;
    font-size: large;
    padding: 20px;
    color: #fff;
    text-align: center;
}
.homescreen
{
    grid-area: homescreen;
    background-color: #2CDA9D;
    color: #000;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 300px;
}
.homescreen > h1, .homescreen > p{
    color: #000;
    text-align: center;
}
.homescreen > h1{
    font-size: 50px;
    margin-bottom: 30px;
    
}
.homescreen > p
{
    font-size: 20px;
}
.nav
{
    grid-area: nav;
    background-color: #000;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: start;   
}
.nav > a
{
    text-decoration: none;
    padding: 17px;
    text-align: center;
    color: #fff;
    background-color: inherit;
    transition: 0.5s;
    
}
.nav > a:hover{
    background-color: red;
}
.personal1
{
    grid-area: personal1;
    background-color: #f1f1f1;
}
.content
{
    grid-area: content;
    background-color: #fff;
}
.footer
{
    grid-area: footer;
    background-color: #aaa;
    padding: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: large;
}
.personal
{
    width: 100%;
    padding: 30px 15px;
}
.personal :not(:last-child)
{
    margin-bottom: 30px;
}
#image_personal
{
    height: 250px;
    background-color: #aaa;
    padding: 2%;
}
#extra_info
{
    padding: 30px 15px;
}
#extra_image
{
    padding: 30px 15px;
}
#extra_image .extra_image_1
{
    height: 50px;
    padding: 2%;
    background-color: #aaa;
}
#extra_image .extra_image_1:not(:last-child)
{
    margin-bottom: 10px;
}
.image_section_two
{
    height: 400px;
    padding: 3%;
    background-color: #aaa;
}

@media screen and (max-width: 800px)
{
    #grid
    {
    grid-template-areas: 
    'resize resize resize resize'
    'homescreen homescreen homescreen homescreen'
    'nav nav nav nav'
    'personal1 personal1 personal1 personal1'
    'content content content content'    
    'footer footer footer footer';
    }
    
}
@media screen and (max-width: 600px)
{
    .nav
    {
        grid-template-columns: 100%;
    }
}